name: Vulfden CI

on: [push]

jobs:
  checks:
    runs-on: ubuntu-latest
    env: 
        GATSBY_SANITY_PROJECT_ID: brvct6ie
        GATSBY_SANITY_DATASET: production
    steps:
      - uses: actions/checkout@v4
      - name: Set Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "yarn"
      - name: Run install
        run: yarn install --frozen-lockfile
      - name: Build production bundle
        run: yarn build
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
