name: Vulfden CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      - name: Build production bundle
        uses: borales/actions-yarn@v4
        with:
          cmd: build
      - name: Lint
        uses: borales/actions-yarn@v4
        with:
          cmd: lint
      - name: Test
        uses: borales/actions-yarn@v4
        with:
          cmd: test
